// Test Nextflow LSF configuration based on your cluster setup

params {
    outdir = "test-results"
}

profiles {
    lsf {
        process {
            executor = 'lsf'
            queue = 'rna'
            clusterOptions = '-P aatrnaseq'

            withName: TEST_GPU_QUEUE {
                queue = 'gpu'
                clusterOptions = '-P aatrnaseq -gpu "num=1:j_exclusive=yes"'
            }
        }

        executor {
            name = 'lsf'
            queueSize = 10
            submitRateLimit = '10 sec'
        }
    }

    local {
        process.executor = 'local'
    }
}

// Enable execution reports
timeline {
    enabled = true
    file = "${params.outdir}/timeline.html"
}

report {
    enabled = true
    file = "${params.outdir}/report.html"
}

trace {
    enabled = true
    file = "${params.outdir}/trace.txt"
}

dag {
    enabled = true
    file = "${params.outdir}/dag.html"
}
